#bag-image {
	width: 200px;
	height: 500px;
	margin:	0 auto;
	background: url(./img/punch.png) center no-repeat;
	background-size: 80%;
}
#bag-image.burst {
	background: url(./img/punch-burst.png) center no-repeat;
	background-size: 80%;	
}

#bag-health {
	width: 200px;
	border: 2px solid #000;
	margin: 0 auto 20px auto;
}
#bag-health div {
	height: 20px;
	background: crimson;
}
#controls {
	width: 160px;
	margin: 0 auto;
}